{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/personal_page_content.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' %}


    <div class="content marg-auto clearfix ">

        <div id="personal">
            <div id="name">{{ user.firstName }} {{ user.secondName }}</div>
            <div id="nGroup">{{ user.department.name }}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <span>
                    <a href={{ path('delUser', {'id':user.id}) }}>
                        <button id="del-d" class="red-button" type="button" class="al-center" tabindex="">Удалить</button>
                    </a>
                </span>
            {% endif %}
        </div>


        <ul class="main-menu">
            <li><a href="#0">Пройденные тесты</a>
                {% if user.tests is not empty %}
                    <ul>
                        {% for test in user.tests %}
                            <li class="sub-menu">
                                <a href={{ path('testpage',{'id':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}
                                        {% set rating = 0 %}
                                        {% for answer in user.answers %}
                                            {% if answer.question.test.id == test.id %}
                                                {% set rating = rating + answer.rating  %}
                                            {% endif %}
                                        {% endfor %} | {{ rating }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <ul>
                        <li class="sub-menu">
                            <span id="prompt">Здесь будут отображаться пройденные тесты</span>
                        </li>
                    </ul>
                {% endif %}

            </li>
        </ul>

    {% if not is_granted('ROLE_ADMIN') %}
        <ul class="main-menu">
            <li><a href="#1">Тесты</a>
                {% if tests is not empty %}
                    <ul>
                        {% for test in tests %}
                            <li class="sub-menu"><a href={{ path('aboutTestpage',{'id':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}</span>
                                </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span>Тестов больше нет</span>
                {% endif %}
            </li>
        </ul>
    {% endif %}

        <script type="text/javascript">

            $(document).ready(function () {

                $('li').click(function (event) {
                    $(this).parent().find("li ul:visible").slideUp()
                    if($(this).children("ul").is(":hidden"))$(this).children("ul").slideDown() ;
                    event.stopPropagation();
                });
            });

        </script>



    </div>

    </body>
{% endblock %}