{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/personal_page_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' %}


    <div class="content marg-auto clearfix ">

        <div id="personal">
            <div id="name">{{ user.firstName }} {{ user.secondName }}</div>
            {% if user.department.name != 'FakeDepartment' %}
            <div id="nGroup">{{ user.department.name }}</div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <span>
                    <a href={{ path('delUser', {'id':user.id}) }}>
                        <div id="del-d" class="red-button" type="button" class="al-center" tabindex="">Удалить</div>
                    </a>
                    <a href={{ path('editUserForm', {'id':user.id}) }}>
                        <div id="edit-des" class="blue-button" type="button" class="al-center" tabindex="">Редактировать</div>
                    </a>
                </span>
            {% endif %}
        </div>

{#////////////////////////////USER MENU///////////////////////////////#}

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Пройденные тесты</a></li>
                <li><a href="#tabs-2">Тесты</a></li>
            </ul>

            <div id="tabs-1">
                    <ul class="main-menu">
                    {% if user.tests is not empty %}
                        {% for test in user.tests %}
                            <li class="sub ">
                                <a href={{ path('testpage',{'id':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}
                                        {% set rating = 0 %}
                                        {% for answer in user.answers %}
                                            {% if answer.question.test.id == test.id %}
                                                {% set rating = rating + answer.rating  %}
                                            {% endif %}
                                        {% endfor %} | {{ rating }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li class="sub">
                                <span id="prompt">Здесь будут отображаться пройденные тесты</span>
                            </li>
                    {% endif %}
                </ul>
            </div>

            {% if not is_granted('ROLE_ADMIN') %}
            <div id="tabs-2">
                <ul class="main-menu">
                    {% if tests is not empty %}
                        {% for test in tests %}
                            <li class="sub">
                                <a href={{ path('aboutTestpage',{'id':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <span>Тестов больше нет</span>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>

        <script>
            $(function() {
                $( "#tabs" ).tabs();
            });
        </script>


    </div>

    </body>
{% endblock %}