{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/personal_page_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% if is_granted('ROLE_ADMIN') %} {% include 'header.html.twig' with {'back':path('usersList')} %}
    {% else %} {% include 'header.html.twig' with {'root':'true'} %}  {% endif %}


    <div class="content marg-auto clearfix ">

        <div id="personal" class="clearfix">{#personal = .lvl(css)#}
            <div id="name">{{ user.firstName }} {{ user.secondName }} {% for role in user.roles if role == 'ROLE_ADMIN' %} (Администратор) {% endfor %}</div>
            {% if user.department.name != 'FakeDepartment' %}
            <div id="nGroup">{{ user.department.name }}</div>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <span>
                    <a href={{ path('delUser', {'id':user.id}) }}>
                        <div id="del-d" class="red-button fl-left" onclick="delUser({{user.id}})">Удалить</div>
                    </a>
                    <a href={{ path('editUserForm', {'id':user.id}) }}>
                        <div id="edit-des" class="blue-button fl-left mar-left-5">Редактировать</div>
                    </a>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <a href={{ path('makeUser', {'id':user.id}) }}>
                                <div id="make-user" class="green-button fl-right">Сделать пользователем</div>
                            </a>
                        {% else %}
                            <a href={{ path('makeAdmin', {'id':user.id}) }}>
                                <div id="make-admin" class="green-button fl-right">Сделать администратором</div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </span>
            {% endif %}

        </div>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path('delUser', {'id':'userId'}) }}';
                $(location).attr('href',url.replace("userId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delUser(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить пользователя?", showOk, showCancel);
            }

        </script>


{#////////////////////////////USER MENU///////////////////////////////#}

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Пройденные тесты</a></li>
                {% if not is_granted('ROLE_ADMIN') %}<li><a href="#tabs-2">Тесты</a></li>{% endif %}
            </ul>

            <div id="tabs-1">
                    <ul class="main-menu">
                    {% if user.tests is not empty %}
                        {% for test in user.tests %}
                            <li class="sub clearfix position-rel">
                                <a href={{ path('userTest',{'id':user.id,'testId':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}
                                        {% set rating = 0 %}
                                        {% for result in user.results %}
                                            {% if result.test.id == test.id %}
                                               | {{ result.rating }}
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="del-img" id="{{ test.id }}" onclick="setId({{test.id}})" title="Убрать из пройденных"></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                            <li class="sub">
                                <span id="prompt">Здесь будут отображаться пройденные тесты</span>
                            </li>
                    {% endif %}
                </ul>
            </div>

            {% if not is_granted('ROLE_ADMIN') %}
            <div id="tabs-2">
                <ul class="main-menu">
                    {% if tests is not empty %}
                        {% for test in tests %}
                            <li class="sub">
                                <a href={{ path('aboutTestpage',{'id':test.id}) }}>
                                    <p>{{ test.name }}</p>
                                    <span>{{ test.description }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="sub">
                            <span id="prompt">Тестов больше нет</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>

        <script>
            $(function() {
                $( "#tabs" ).tabs();
            });
        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path("cancelTest", {'id':user.id,'testId':'testId'}) }}';
                $(location).attr('href',url.replace("testId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function setId(ids){
                this.ids = ids;
                ask("Вы действительно хотите убрать тест из пройденных?", showOk, showCancel);
            }

        </script>


    </div>

    </body>
{% endblock %}