{% extends '::base.html.twig' %}

{% block title %} Регистрация | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/welcome_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    <div align="center">

        <div class="form_content clearfix">

             <div class="marg-auto" id="logo"></div>

            {% if error is defined %}
                <div id="err" class="al-center">{{ error }}</div>
            {% endif %}
            <div id="err" class="al-center"></div>

             <form id="registrationForm" autocomplete="off" action="{{ path("registrationNew") }}" method="post" name="registrationForm">

                 <div class="al-center wid_202 marg-auto">
                    <div><label for="name-field" class="lab">Логин: </label></div>
                    <input type="text" id="name-field" name="_username" size="37" pattern="[a-zA-Z0-9_-\t]+" tabindex="1" required>
                 </div>

                 <div class="al-center wid_202 marg-auto">
                    <div><label for="password-field-1" class="lab">Пароль: </label></div>
                    <input type="password" id="password-field-1" name="_password" size="37" pattern="([a-zA-Z0-9_-]){6,37}" tabindex="2" required>
                 </div>

                 <div class="al-center wid_202 marg-auto position-rel">
                     <div><label for="password-field-2" class="lab">Повторите пароль: </label></div>
                     <input type="password" id="password-field-2" name="_password-2" size="37" onchange="checkPass()" pattern="([a-zA-Z0-9_-]){6,37}" tabindex="3" required>
                     {#<span id="info" class="position-abs"></span>#}
                 </div>

                 <div class="al-center wid_202 marg-auto">
                    <div><label for="name-field" class="lab">Имя: </label></div>
                    <input type="text" id="name-field" name="_firstName" size="37" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" tabindex="4" required>
                 </div>

                 <div class="al-center wid_202 marg-auto">
                    <div><label for="second-name-field" class="lab">Фамилия: </label></div>
                    <input type="text" id="second-name-field" name="_secondName"  size="37" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" tabindex="5" required>
                 </div>

                <div class="al-center wid_202 marg-auto mar-top-30">
                    <a href={{ path('_welcome') }}><div class="fl-left blue-button" id="input">Назад</div></a>
                    <button type="submit" class="fl-right red-button" id="registr" tabindex="7">Регистрация</button>
                </div>
             </form>
        </div>
    </div>

    <script>

        $('#err').hide();

        function checkPass ()
        {
            var pass1 = $('#password-field-1').val();
            var pass2 = $('#password-field-2').val();

            if( pass1 != pass2 ){
                uotInfo("Пароли не совпадают");
                $('button[type=submit]').attr("disabled","disabled");

            }
            else{
                $('#err').hide();
                $('button[type=submit]').removeAttr("disabled");
            }

            function uotInfo(text){
                $('#err').text(text);
                $('#err').show();
            }
        }

    </script>


    </body>
{% endblock %}