<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Информационно-диагностическая система{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'css/jquery-ui.min.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset(asset_url) }}">
            {% endstylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/body.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% javascripts
            'js/jquery.min.js'
            'js/jquery-ui.min.js'%}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('Logo.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/body.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

</html>
