{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/personal_page_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    <header>

        <div class="header_content marg-auto clearfix">
            <a href=""><div class="fl-left" id="logo"><img src="{{ asset('images/LogoOnHeader.png') }}"></div>
            <span>Victim</span></a>
            <a href={{ path('_welcome') }}><button class="fl-right al-center" id="exit">Выйти</button></a>
        </div>

    </header>


    <div class="content marg-auto clearfix ">

        <div id="personal">
            <div id="name">{{ user.firstName }} {{ user.secondName }}</div>
            <div id="nGroup">{{ user.groupName }}</div>
        </div>

        <div class="passed-test">
            <ul class="main-menu">
                <li><a href="">Пройденные тесты</a>
                    {% if user.tests is not empty %}
                    <ul class="sub-menu">
                        {% for test in user.tests %}
                        <li><a href="/test/id{{ test.id }}">
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <span>Здесь будут отображаться пройденные тесты</span>
                    {% endif %}
                </li>

            </ul>
        </div>

        <div class="tests">
            <ul class="main-menu">
                <li><a href="">Тесты</a>
                    {% if user.tests is not empty %}
                    <ul class="sub-menu">
                        {% for test in tests %}
                            {% for userTest in user.tests %}
                                {% if test.id != userTest.id  %}
                        <li><a href="/test/id{{ test.id }}">
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a></li>
                                    {% endif %}
                            {% endfor %}
                            {% endfor %}
                    </ul>
                        {% endif %}
                 {% if user.tests is empty %}
                     <ul class="sub-menu">
                           {% for test in tests %}
                               <li><a href="/test/id{{ test.id }}">
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a></li>
                           {% endfor %}
        </ul>
                </li>
            </ul>
            {% endif %}
        </div>


    </div>



    </body>
{% endblock %}