{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/welcome_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    <div class="form_content clearfix">

        <div class="marg-auto" id="logo"></div>

        <div class="al-center">Добро пожаловать в систему тестирования</div>

        {% if error %}
            <div id="err" class="al-center"> Неверный пароль</div>
        {% endif %}

        <!-- action="reg" -->
        <form id="registrationForm" autocomplete="off" action="{{ path('login_check') }}" method="post" name="registrationForm">

            <div class="al-center wid_202 marg-auto">
                <div class="al-center "><label for="name-field" class="lab">Логин: </label></div>
                <input type="text" id="name-field" name="_username" size="37" tabindex="1" pattern="[a-zA-Z0-9_-\t]+" value="{{ last_username }}" required>
            </div>

            <div class="al-center wid_202 marg-auto">
                <div class="al-center"><label for="password-field" class="lab">Пароль: </label></div>
                <input type="password" id="password-field" name="_password" size="37" tabindex="2" required>
            </div>

            <input type="hidden" name="_target_patch" value="account">

            <a class="wid_202 marg-auto " href="" id="forget">Забыли пароль?</a>

            <div class="sent-reset marg-auto clearfix">

                <div class="wid_202 marg-auto mar-top-20">
                    <a href="{{ path('registrationPage') }}"><div class="fl-left al-center" id="registr" formnovalidate>Регистрация</div></a>
                    <button type="submit" class="fl-right al-center" name="login" id="input" tabindex="3">Вход</button>
                </div>
            </div>
        </form>

    </div>

    </body>
{% endblock %}