{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix ">


        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Тесты</a></li>
                <li><a href="#tabs-2">Пользователи</a></li>
            </ul>
            <div id="tabs-1">
                <ul class="main-menu">
                    {% for test in tests %}
                        <li class="sub clear-fix">
                            <a  href={{ path('aboutTestpage',{'id':test.id}) }}>
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a>


                            {#<a class="del" href={{ path('delTest', {'id':test.id}) }}></a>#}
                            <a class="del" id="{{ test.id }}" onclick="setId({{test.id}})"></a>


                        </li>
                    {% endfor %}
                        <li class="sub">
                            <a href={{ path('testNewForm') }}> + Новый тест</a>
                        </li>
                </ul>
            </div>
            <div id="tabs-2">
                <ul class="main-menu">
                    <li class="sub"><a href={{ path('usersList') }}><p>Список всех пользователей</p></a></li>
                    <li class="sub"><a href={{ path('groupList') }}><p>Список пользователей по группам</p></a></li>
                    <li class="sub"><a href={{ path('addUserForm') }}><p>+ Добавить пользователя</p></a></li>
                </ul>
            </div>
        </div>


        <script>
            $(function() {
                $( "#tabs" ).tabs();
            });
        </script>

        <script>


            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {



                {#$(location).attr('href','{{ path("delTest", {"id":'#}
                {#+ids#}
                {#+'}) }}');#}

//                alert(ids);

            }
            function showCancel() {
//                                    alert("Вы отменили выполнение.");
            }

            function setId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить тест?", showOk, showCancel);
            }

            {#$('.del').click(function(){#}
                {#&#123;&#35;var id  = {{ test.id }};&#35;&#125;#}
{#//                                    ask("Вы действительно хотите удалить тест?", showOk, showCancel);#}
                {#alert({{ test.id }});#}
            {#});#}

        </script>





    </div>

    </body>
{% endblock %}