{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'root':'true'} %}



    <div class="content marg-auto clearfix ">


        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Тесты</a></li>
                <li><a href="#tabs-2">Пользователи</a></li>
                <li><a href="#tabs-3">Группы</a></li>
            </ul>
            <div id="tabs-1">
                <ul class="main-menu">
                    {% for test in tests %}
                        <li class="sub clearfix position-rel">
                            <a  class="disp-block" href={{ path('aboutTestpage',{'id':test.id}) }}>
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a>


                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="del-img" id="{{ test.id }}" onclick="setId({{test.id}})"></a>
                            {% endif %}

                        </li>
                    {% endfor %}
                     {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="sub">
                            <a href={{ path('testNewForm') }}> + Новый тест</a>
                        </li>
                     {% endif %}
                </ul>
            </div>
            <div id="tabs-2">
                <ul class="main-menu">
                    <li class="sub"><a href={{ path('usersList') }}><p>Список всех пользователей</p></a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="sub"><a href={{ path('newUser') }}><p>+ Добавить пользователя</p></a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="tabs-3">
                <ul class="main-menu">
                    {% for department in departments %}
                        <li class="sub"><a href={{ path('userByGroup',{'id':department.id}) }}><p>{{ department.name }}</p></a></li>
                    {% endfor %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="sub"><a href=><p>+ Добавить группу</p></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


        <script>
            $(function() {
                $( "#tabs" ).tabs();
            });
        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path("delTest", {'id':'testId'}) }}';
                $(location).attr('href',url.replace("testId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function setId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить тест?", showOk, showCancel);
            }

        </script>





    </div>

    </body>
{% endblock %}