{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'root':'true'} %}



    <div class="content marg-auto clearfix ">

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Тесты</a></li>
                <li><a href="#tabs-2">Пользователи</a></li>
                <li><a href="#tabs-3">Группы</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}<li><a href="#tabs-4">Компании</a></li>{% endif %}
            </ul>
            <div id="tabs-1">
                <ul class="main-menu">
                    {% for test in tests %}
                        <li class="sub clearfix position-rel">
                            <a  class="disp-block" href={{ path('aboutTestpage',{'id':test.id}) }}>
                                <p>{{ test.name }}</p>
                                <span>{{ test.description }}</span>
                            </a>


                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="del-img" id="{{ test.id }}" onclick="setId({{test.id}})" title="Удалить тест"></a>
                            {% endif %}

                        </li>
                    {% endfor %}
                     {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="sub">
                            <a href={{ path('testNewForm') }}> + Новый тест</a>
                        </li>
                     {% endif %}
                </ul>
            </div>
            <div id="tabs-2">
                <ul class="main-menu">
                    <li class="sub"><a href={{ path('usersList') }}><p>Список всех пользователей</p></a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="sub"><a href={{ path('newUser') }}>+ Добавить пользователя</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="tabs-3">
                <ul class="main-menu">
                    {% for department in departments %}
                        <li class="sub clearfix position-rel">
                            <a  class="disp-block" href={{ path('userByGroup',{'id':department.id}) }}>
                                <p>{{ department.name }}</p>
                            </a>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="del-img" id="{{ department.id }}" onclick="delGroupId({{department.id}})" title="Удалить группу"></a>
                            {% endif %}

                        </li>
                    {% endfor %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="sub"><a href={{ path('newGroupForm') }}>+ Добавить группу</a></li>
                    {% endif %}
                </ul>
            </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div id="tabs-4">
                <ul class="main-menu">
                    {% for company in companies %}
                        <li class="sub clearfix position-rel">
                            <a  class="disp-block" href={{ path('groupByCompany',{'id':company.id}) }}>
                                <p>{{ company.name }}</p>
                            </a>

                                <a class="del-img" id="{{ company.id }}" onclick="delCompanyId({{company.id}})" title="Удалить компанию"></a>

                        </li>
                    {% endfor %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="sub"><a href={{ path('newCompanyForm') }}>+ Добавить компанию</a></li>
                    {% endif %}
                </ul>
            </div>
    {% endif %}
        </div>


        <script>
            $(function() {
                $( "#tabs" ).tabs();
            });
        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path("delTest", {'id':'testId'}) }}';
                $(location).attr('href',url.replace("testId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function setId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить тест?", showOk, showCancel);
            }

        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showGroupOk() {
                var url = '{{ path('delGroup', {'id':'depId'}) }}';
                $(location).attr('href',url.replace("depId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delGroupId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить группу?", showGroupOk, showCancel);
            }

        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showCompanyOk() {
                var url = '{{ path('delCompany', {'id':'comId'}) }}';
                $(location).attr('href',url.replace("comId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delCompanyId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить компанию?", showCompanyOk, showCancel);
            }

        </script>





    </div>

    </body>
{% endblock %}