{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'back':back} %}



    <div class="content marg-auto clearfix ">

        <div>
            <ul class="main-menu">
                {% for department in departments %}
                    <li class="sub clearfix position-rel">
                        <a  class="disp-block" href={{ path('userByCompanyGroup',{'id':department.company.id,'groupId':department.id}) }}>
                            <p>{{ department.name }}</p>
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="del-img" id="{{ department.id }}" onclick="delGroupId({{department.id}})" title="Удалить группу"></a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="sub"><a href={{ path('newCompanyGroupForm',{'id':companyId}) }}>+ Добавить группу</a></li>
                {% endif %}
            </ul>
        </div>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showGroupOk() {
                var url = '{{ path('delGroup', {'id':'depId'}) }}';
                $(location).attr('href',url.replace("depId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delGroupId(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить группу?", showOk, showCancel);
            }

        </script>





    </div>

    </body>
{% endblock %}