{% extends '::base.html.twig' %}

{% block title %} Регистрация пользователя | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'back':path('adminPage')} %}


    <div class="content marg-auto clearfix ">

        {% if error is defined %}
            <div id="err" class="al-center">{{ error }}</div>
        {% endif %}

        <form id="registrationOfUsersForm" autocomplete="off" action="{{ path("registrationNew") }}" method="post" name="registrationOfUsersForm">

            <div id="err" class="al-center"></div>

            <div class="al-center mar-top-15">
                <div><label for="login-user-field" class="">Логин: </label></div>
                <input type="text" id="login-user-field" name="_username" onchange="checkLogin()" pattern="[\w-.]+" tabindex="1" required>
            </div>

            <div class="al-center marg-auto mar-top-5">
                <div><label for="password-user-field-1" class="">Пароль: </label></div>
                <input type="password" id="password-user-field-1" name="_password" onchange="checkPass()" pattern="[\w-.]{6,37}" tabindex="2" required>
            </div>

            <div class="al-center position-rel mar-top-5">
                <div><label for="password-user-field-2" class="">Повторите пароль: </label></div>
                <input type="password" id="password-user-field-2" name="_password-2" onchange="checkPass()" pattern="[\w-.]{6,37}" tabindex="3" required>
                <span id="info" class="position-abs"></span>
            </div>

            <div class="al-center mar-top-5">
                <div><label for="name-user-field" class="">Имя: </label></div>
                <input type="text" id="name-user-field" name="_firstName" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" tabindex="4" required>
            </div>

            <div class="al-center  mar-top-5">
                <div><label for="second-name-user-field" class="">Фамилия: </label></div>
                <input type="text" id="second-name-user-field" name="_secondName" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" tabindex="5" required>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="al-center marg-auto mar-top-15">
                <div><label for="department-user-select" class="">Группа :</label></div>
                <select id="department-user-select" name="_department">
                    {% for department in departments %}
                        <option value={{ department.id }}>{{ department.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="mar-top-30 clearfix">
                <a href={{ path('_welcome') }}><div class="fl-left red-button" id="back-">Отмена</div></a>
                <button type="submit" class="fl-right blue-button" id="reg-of-u" tabindex="6" disabled="disabled">Создать</button>
            </div>

        </form>

        {#<script>#}

            {#function  checkLogin(){#}

                {#var login = $('#login-user-field').val();#}
{#//                $('button[type=submit]').attr("disabled","disabled");#}

                {#{% for username in usernames %}#}

                {#var masUserName = '{{ username }}';#}

                {#if( masUserName == login ){#}
                    {#$('#err').text('Пользователь уже существует');#}
                {#}#}
                {#else return false;#}

                {#{% endfor %}#}

            {#}#}

        {#</script>#}


        {#<script>#}

            {#$('#info').hide();#}
{#//            $('button[type=submit]').attr("disabled","disabled");#}

            {#function checkPass ()#}
            {#{#}
                {#var pass1 = $('#password-user-field-1').val();#}
                {#var pass2 = $('#password-user-field-2').val();#}

                {#if( pass1 != pass2 ){#}
                    {#uotInfo("Пароли не совпадают");#}

                {#}#}
                {#else{#}
                    {#$('#info').hide();#}
                    {#$('button[type=submit]').removeAttr("disabled");#}
                {#}#}

                {#function uotInfo(text){#}
                    {#$('#info').text(text);#}
                    {#$('#info').show();#}
                {#}#}
            {#}#}

        {#</script>#}



        <script>

            function  checkLogin(){

                var login = $('#login-user-field').val();

                {% for username in usernames %}

                    var masUserName = '{{ username }}';

                    if( masUserName == login ){
                        $('#err').text('Пользователь уже существует');
                        $('#err').show();
                        return false;
                    }
                    else if(masUserName != login && login != '') {
                        $('#err').hide();
                        return true;
                    }
                {% endfor %}
            }

            if ( checkLogin() ){
                alert("true");
            }

            function checkPass (){

                var pass1 = $('#password-user-field-1').val();
                var pass2 = $('#password-user-field-2').val();

                if( pass1 != pass2 ){
                    $('#info').text("Пароли не совпадают");
                    $('#info').show();
                    return false;
                }
                else if( pass1 == pass2 && pass1 != '' && pass2 != '') {
                    $('#info').hide();
                    return true;
                }
            }


        </script>


    </div>

    </body>
{% endblock %}