{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'back':back} %}

    <div class="content marg-auto clearfix ">

        <table class="simple-little-table" cellspacing='0'>
            <tr>
                <th>Пользователь</th>
                <th>Имя, Фамилия</th>
                <th>Компания</th>
                <th>Группа</th>
                <th>Пройднено тестов</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th></th>
                {% endif %}
            </tr>

            {% for user in users %}

            <tr>
                <td class="link-on-user" onclick=" window.location.href='{{ path('usersPageAdmin',{ 'id':user.id}) }}'; return false">{{ user.username }}</td>
                <td class="link-on-user" onclick=" window.location.href='{{ path('usersPageAdmin',{ 'id':user.id}) }}'; return false">{{ user.firstName }} {{ user.secondName }}</td>
                <td>{{ user.department.company.name|trans }}</td>
                <td class="link-on-user" onclick=" window.location.href='{{ path('userByGroup',{ 'id':user.department.id}) }}'; return false">{{ user.department.name|trans }}</td>
                <td>{{ user.tests|length }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td class="position-rel">
                    <a class="del-img" onclick="delUser({{user.id}})" title="Удалить пользователя"></a>
                    <a class="edit-img" href="{{ path('editUserForm', {'id':user.id}) }}" title="Редактировать"></a>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <a class="be-user-img" href="{{ path('makeUser', {'id':user.id}) }}" title="Сделать пользователем"></a>
                        {% else %}
                            <a class="be-admin-img" href="{{ path('makeAdmin', {'id':user.id}) }}" title="Сделать администратором"></a>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}


        </table>

        <script>

            if( $('.be-admin-img').onclick() ){
                $('.be-admin-img').css({' background': 'url("../images/button/ui-icons_2694e8_256x240.png") no-repeat -225px -113px !important'})
                $('.be-admin-img').hide();
            }
            else if(  $('.be-user-img').onclick() ){
                $('.be-user-img').css({' background': 'url("../images/button/ui-icons_222222_256x240.png") no-repeat -225px -113px !important'})
                $('.be-user-img').hide();
            }

        </script>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path('delUser', {'id':'userId'}) }}';
                $(location).attr('href',url.replace("userId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delUser(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить пользователя?", showOk, showCancel);
            }

        </script>

    </div>




    </body>
{% endblock %}