{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' with {'back':path('adminPage')} %}

    <div class="content marg-auto clearfix ">

        <table class="simple-little-table" cellspacing='0'>
            <tr>
                <th>Пользователь</th>
                <th>Имя, Фамилия</th>
                <th>Компания</th>
                <th>Группа</th>
                <th>Пройднено тестов</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th></th>
                {% endif %}
            </tr>

            {% for user in users %}

            <tr>
                <td onclick=" window.location.href='{{ path('usersPageAdmin',{ 'id':user.id}) }}'; return false">{{ user.username }}</td>
                <td onclick=" window.location.href='{{ path('usersPageAdmin',{ 'id':user.id}) }}'; return false">{{ user.firstName }} {{ user.secondName }}</td>
                <td>{{ user.department.company.name }}</td>
                <td>{{ user.department.name }}</td>
                <td>{{ user.tests|length }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td class="position-rel">
                    <a class="del-img" id="" onclick="delUser({{user.id}})" title="Удалить пользователя"></a>
                    <a class="edit-img" href="{{ path('editUserForm', {'id':user.id}) }}" title="Редактировать"></a>
                    <a class="be-admin-img" href="{{ path('makeAdmin', {'id':user.id}) }}" id="" onclick="" title="Сделать администратором"></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}


        </table>

        <script>

            function ask(question, yes, no) {
                if (confirm(question)) {
                    yes();
                }
                else no();
            }
            function showOk() {
                var url = '{{ path('delUser', {'id':'userId'}) }}';
                $(location).attr('href',url.replace("userId", ids));

            }
            function showCancel() {
                // отмена выполнения
            }

            function delUser(ids){
                this.ids = ids;
                ask("Вы действительно хотите удалить пользователя?", showOk, showCancel);
            }

        </script>

    </div>




    </body>
{% endblock %}