{% extends ':users:personal_page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>
    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix ">

        <table class="simple-little-table" cellspacing='0'>
            <tr>
                <th>Пользователь</th>
                <th>Имя, Фамилия</th>
                <th></th>

                {#-------------------не работает---------------------#}
                <th class="width-100 help-box"></th>
                {#---------------------------------------------------#}
            </tr>

            {% for user in users %}

            <a href={{ path('usersPageAdmin',{ 'id':user.id}) }}>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{ user.secondName }}</td>
                <td class="position-rel">
                    <a class="del-img" id="" onclick=""></a>
                    <a class="edit-img" id="" onclick=""></a>
                    <a class="be-admin-img" id="" onclick=""></a>
                </td>

                {#-------------------не работает---------------------#}
                <td class="position-rel help-box">
                    <div class="position-abs help-text-del">text on right1</div>
                    <div class="position-abs help-text-edit">text on right2</div>
                    <div class="position-abs help-text-be-admin">text on right3</div>
                </td>
                {#---------------------------------------------------#}
            </tr>
            </a>
            {% endfor %}


        </table>

    </div>




    </body>
{% endblock %}