{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/about_test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">
        <div id="lvl">
            <h3>{{ test.name }}</h3>
            <p>{{ test.description }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <span>
                    <a href={{ path('_welcome') }}test/id{{ test.id }}/edit>РЕДАКТРИРОВАТЬ</a>
                    | <a href={{ path('_welcome') }}test/id{{ test.id }}/del>УДАЛИТЬ</a>
                    | <a href={{ path('_welcome') }}test/id{{ test.id }}/add>ДОБАВИТЬ ВОПРОС</a>
                </span>
            {% else %}
                {% block complete %}
                    <a href={{ path('_welcome') }}test/id{{ test.id }}><button class="fl-right al-center" id="begin">Начать тест</button></a>
                {% endblock %}
            {% endif %}

        </div>
    </div>


    </body>
{% endblock %}