{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">
        <div class="lvl clearfix">
            <div class="fl-left">
                <h3>{{ test.name }}</h3>
                <p>{{ test.description }}</p>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href={{ path('testpage', {'id':test.id}) }}><div class="blue-button" id="edit-test">Редактировать тест</div></a>
                {% endif %}
            </div>
            <div class="fl-right">
                {% if test.image is not empty %}
                    <img src="{{ test.image.webPath }}" align="right" width="100" height="80">
                {% endif %}
            </div>

        </div>

        {% if not is_granted('ROLE_ADMIN') %}

            {% block complete %}
                <a href={{ path('testpage', {'id':test.id}) }}>
                    <div class="fl-right al-center blue-button" id="begin">Начать тест</div>
                </a>
            {% endblock %}

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% if results is not empty %}

                <table class="simple-little-table" cellspacing='0'>
                    <tr>
                        <th>Пользователь</th>
                        <th>Результат</th>
                        <th>Описание результата</th>
                        <th>Дата прохождения</th>
                    </tr>


                    {% for result in results %}
                        <tr>
                            <td>{{ result.user.firstName }} {{  result.user.secondName }}</td>
                            <td>{{ result.rating }}</td>
                            {% if result.explanation is not empty %}
                                <td>{{ result.explanation.description }}</td>
                            {% elseif result.explanation is empty%}
                                <td></td>
                            {% endif %}
                            <td>{{ result.date|date("d.m.Y") }}</td>
                        </tr>
                    {% endfor %}

                </table>

            {% endif %}
        {% endif %}


    </div>

    </body>
{% endblock %}