{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">
        <div class="lvl">
            <h3>{{ test.name }}</h3>
            <p>{{ test.description }}</p>


            {% if not is_granted('ROLE_ADMIN') %}

                {% block complete %}
                    <a href={{ path('_welcome') }}test/id{{ test.id }}>
                        <button class="fl-right al-center" id="begin">Начать тест</button>
                    </a>
                {% endblock %}

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <span>
                <a id="edit-q" href={{ path('testpage', {'id':test.id}) }}>РЕДАКТРИРОВАТЬ ТЕСТ</a>
                </span>
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {% if results is not empty %}

                <table class="simple-little-table" cellspacing='0'>
                <tr>
                    <th>Пользователь</th>
                    <th>Результат</th>
                    <th>Описание результата</th>
                    <th>Дата прохождения</th>
                </tr>


                {% for result in results %}
                    <tr>
                        <td>{{ result.user.firstName }} {{  result.user.secondName }}</td>
                        <td>{{ result.rating }}</td>
                        {% if result.explanation is not empty %}
                            <td>{{ result.explanation.description }}</td>
                        {% elseif result.explanation is empty%}
                            <td></td>
                        {% endif %}
                        <td>{{ result.date|date("d.m.Y") }}</td>
                    </tr>
                {% endfor %}

                </table>

            {% endif %}
        {% endif %}


    </div>

    </body>
{% endblock %}