{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/about_test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">
        <div class="lvl">
            <h3>{{ test.name }}</h3>
            <p>{{ test.description }}</p>


        {% if not is_granted('ROLE_ADMIN') %}

            {% block complete %}
                <a href={{ path('_welcome') }}test/id{{ test.id }}>
                    <button class="fl-right al-center" id="begin">Начать тест</button>
                </a>
            {% endblock %}

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <span>
            <a id="edit-q" href={{ path('testpage', {'id':test.id}) }}>РЕДАКТРИРОВАТЬ ТЕСТ</a>
            </span>

        {% endif %}



        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% if results is not empty %}
            {% for result in results %}
                <div><p>{{ result.user.firstName }} {{  result.user.secondName }} | {{ result.rating }} | {{ result.explanation.description }} | {{ result.date|date("d.m.Y") }}  </p></div>
            {% endfor %}
        {% endif %}
    {% endif %}





    </body>
{% endblock %}