{% extends '::base.html.twig' %}

{% block title %} Новый тест | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">


            {% if error is defined %}
                <div id="err" class="al-center">{{ error }}</div>
            {% endif %}

            <form id="newTestForm" autocomplete="off" action="{{ path('testNewForm') }}" method="post" name="registrationForm" {{ form_enctype(uploadForm) }}>

                <div class="al-center mar-top-15">
                    <div><label for="new-test-name-field" class="">Имя: </label></div>
                    <input type="text" id="new-test-name-field" name="_name"  tabindex="1" required>
                </div>

                <div class="al-center">
                    <div><label for="description-new-test-field" class="">Описание: </label></div>
                    <textarea id="description-new-test-field" name="_description"  tabindex="2" required></textarea>
                </div>

                <div class="al-center mar-top-15">
                    {{ form_widget(uploadForm) }}
                </div>

                <div class="al-center mar-top-15">
                    <select name="_company">
                        {% for company in companies %}
                            <option value={{ company.id }}>{{ company.name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mar-top-30 clearfix">
                    <a href={{ path('_welcome') }}><div class="fl-left red-button">Отмена</div></a>
                    <button type="submit" class="fl-right blue-button" tabindex="3">Создать</button>
                </div>


            </form>
        </div>


    </body>
{% endblock %}