{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}

{% block body%}
    <body>

    {% include 'header.html.twig' with {'back':path('aboutTestpage', {'id':test.id})} %}

    <div class="content marg-auto clearfix">
        <div class="lvl">
            <h3>{{ test.name }}</h3>
            <p>{{ test.description }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <span>
                    <a href={{ path('delTest', {'id':test.id}) }}><div class="fl-left red-button" id="del-test" formnovalidate>Удалить</div></a>
                    <button id="edit-des" class="blue-button " type="button" tabindex="">Редактировать</button>
                    <button id="save-d" class="blue-button fl-right " type="button" tabindex="">Сохранить</button>
                </span>
                {% for company in test.companies %}
                <p>{{ company.name }}</p>
                {% endfor %}
            {% endif %}
        </div>


        <p class="mar-l-35">Вопросы</p>

        {% if not is_granted('ROLE_ADMIN') %}
            <form id="questionForm" action="{{ path('testCompete', {'id':test.id}) }}" method="post" name="questionForm">
        {% endif %}
        <div id="questionForm" action="{{ path('testCompete', {'id':test.id}) }}" method="post" name="questionForm">

        {% for question in test.questions %}
            {% if questionEdit is defined and question.id == questionEdit.id %}

               <form id="EditQuestionForm" action="{{ path('editQuestion', {'testId':test.id,'id':questionEdit.id}) }}" method="post" name="AddQuestionForm" {{ form_enctype(uploadForm) }}>

                   <div class="clearfix quest-box quest-box-{{ loop.index }}">
                       <div class="quest-number fl-left al-center vert-align-m">
                           <p class="vert-align-m mar-pad-0 font-s-14">{{ loop.index }}</p>
                       </div>

                       <div class="question fl-right mar-pad-0 clearfix">

                           <div class="fl-left width-410" id="add-content">

                               <label for="text-q-{{ loop.index  }}">Текст вопроса: </label>

                               <textarea id="text-q-{{ loop.index  }}" name="_description" tabindex="1" spellcheck="true" required>{{ questionEdit.content }}</textarea>
                               {{ form_widget(uploadForm) }}
                           </div>

                           {% for answer in questionEdit.answers %}
                           <div class="fl-left add-a-box" id="add-a-box-{{ loop.index-1 }}">

                               <label for="text-a-'{{ loop.index-1 }}'">Ответ: </label>
                               <input id="text-a-{{ loop.index-1 }}" type="text" value="{{ answer.content }}" name="_answer[{{ loop.index-1 }}][content]" size="8" tabindex="2" spellcheck="true" required pattern="[а-яА-ЯёЁa-zA-Z0-9-/t]+">

                               <span class="spn0 spn0-'{{ loop.index-1 }}'"><label for="text-p-'{{ loop.index-1 }}'">Баллы за ответ: </label>
                                  <input id="text-p-{{ loop.index-1 }}" type="number" value="{{ answer.rating }}" name="_answer[{{ loop.index-1 }}][rating]" size="1" tabindex="3" required min=0>
                               </span>
                               {#удалить вариант ответа#}
                               <div id="cancel-a-'{{ loop.index-1 }}'" onclick="delAns({{ loop.index-1 }},{{ answer.id }})" class="vert-align-m cnl cnl-'{{ loop.index-1 }}'"></div>
                           </div>
                           {% endfor %}

                           <div class="fl-right butblock">
                               <a href="{{ path('testpage',{'id':test.id})}}"><button id="cancel-q" class="red-button" type="button" tabindex="">Отмена</button></a>
                               <button id="add-ans-edit" class="green-button" type="button" tabindex="">Добавить ответ</button>
                               <button id="save" class="blue-button" type="submit" tabindex="">Сохранить</button>
                           </div>

                       </div>
                   </div>
               </form>

            {% else %}

            <div class="quest-box clearfix quest-box-{{ loop.index }}">
                <div class="quest-number quest-number-{{ question.id }} fl-left al-center vert-align-m"><p class="vert-align-m mar-pad-0 font-s-14">{{ loop.index }}</p></div>

                <ul class="question question-{{ question.id }} fl-right mar-pad-0 position-rel clearfix">
                    <div class="fl-left width-410">
                        <h4>{{ question.content }}</h4>
                        <p class="mar-pad-0">выберите один из вариантов:{% if question.image is not empty %}<br>(нажмите на картинке для ее увеличения)</p>{% endif %}
                        <div class="al-center">
                           {% for answer in question.answers %}
                           <li>
                               <label for="Q{{ answer.id }}">
                                   {% if not is_granted('ROLE_ADMIN') %}
                                       <input onclick=" giveIdNameSpace({{ question.id }}) " type="radio" id="Q{{ answer.id }}" value="{{ answer.id }}" name="_answerArray[{{ answer.question.id }}]" required>
                                   {% endif %}
                                       <span>{{ answer.content }}{% if is_granted('ROLE_ADMIN') %}[{{ answer.rating }}]{% endif %}</span>
                               </label>
                           </li>
                           {% endfor %}

                    {% if is_granted('ROLE_ADMIN') %} {#---------------УДАЛЕНИЕ/РЕДАКЦИЯ ВОПРОСА------------------#}
                        <a class="del-img" href={{ path('delQuestion',{'testId':test.id,'id':question.id}) }}></a>
                        <a class="edit-img" id="{{ question.id }}" onclick="setId({{question.id}})"></a>
                    {% endif %}
                        </div>

                    </div>

                    {% if question.image is not empty %}{#-----------------------IMAGE------------------------#}
                        <a href="{{ question.image.webPath }}" class="fancy-img fl-right"><img class="img-in-form" src="{{ question.image.webPath }}" alt="Изображение"></a>
                    {% endif %}

                </ul>
            </div>
        {% endif %}
        {% endfor %}

            {% if not is_granted('ROLE_ADMIN') %}
                <button type="submit" class="fl-right al-center red-button" id="end-test">Завершить</button>
            {% endif %}
        </div>

    {% if not is_granted('ROLE_ADMIN') %}
    </form>
    {% endif %}

        <script type="text/javascript">

            $(document).ready(function() {

                $(".fancy-img").fancybox({
                    openEffect	: 'elastic',
                    closeEffect	: 'elastic',
                    'speedIn'		:	600,
                    'speedOut'		:	200,
//                    'overlayShow'	:	true,
                    "overlayOpacity" : 0.7,
                    'centerOnScroll' : true

                });
            });

        </script>

        {#----------------------------------------Start border_color----------------------------------#}

        <script type="text/javascript">

            function giveIdNameSpace(idNameSpace){

                $('.question-'+idNameSpace).css({'border':'1px solid #00FF00'}) &&
                $('.quest-number-'+idNameSpace).css({'background-color':'#00FF00', 'color': '#00FF00'});
            }

        </script>

        {#----------border_color-------border_color-------border_color-------border_color-------border_color-------#}


        {#-------------------------------- start Add form_question ---------------------------------------#}
    {% if is_granted('ROLE_ADMIN') %}
        {% set NumberQ = test.questions|length %}
        {% if uploadForm is defined  %}
        <form id="AddQuestionForm" action="{{ path('testpage', {'id':test.id}) }}" method="post" name="AddQuestionForm" {{ form_enctype(uploadForm) }}>

            {% set NumberQ  = NumberQ + 1 %}

            <div class="clearfix quest-box quest-box-{{ NumberQ }}">
                <div class="quest-number fl-left al-center vert-align-m">
                    <p class="vert-align-m mar-pad-0 font-s-14">{{ NumberQ }}</p>
                </div>

                <div class="question fl-right mar-pad-0 clearfix">

                    <div class="fl-left width-410" id="add-content">

                        <label for="text-q-{{ NumberQ  }}">Текст вопроса: </label>

                        <textarea id="text-q-{{ NumberQ  }}" name="_description" tabindex="1" spellcheck="true" required pattern="[а-яА-ЯёЁa-zA-Z-\t]+"></textarea>
                        {{ form_widget(uploadForm) }}
                    </div>

                    <div class="fl-right butblock">
                        <button id="cancel-q" class="red-button" type="button" tabindex="">Отмена</button>
                        <button id="add-ans" class="green-button" type="button" tabindex="">Добавить ответ</button>
                        <button id="save" class="blue-button" type="submit" tabindex="">Сохранить</button>
                    </div>

                </div>
            </div>

        </form>

        {% endif %}

        <button id="add-q" type="button" class="green-button al-center" tabindex="">Добавить вопрос</button>


        {#----------------------------------------ADD and DELETE question-----------------------------------------#}


        <script type="text/javascript">
            $(document).ready(function () {
                $('document').append('#AddQuestionForm');
                $('#AddQuestionForm').hide();

                $('#add-q').click(function () {
                    $('#AddQuestionForm').show();
                    var height = $('#AddQuestionForm').outerHeight(true) + $('#add-q').outerHeight(true);
                    window.scrollBy(0,height);

                });

                $('#cancel-q').click(function () {
                    $('#AddQuestionForm')[0].reset();
                    $('.add-a-box').remove();
                    $('#AddQuestionForm').hide();
                });

            });
        </script>

        {#----------/-------/--------/-------/--EDIT QUESTION form-------/-----/--------------------/---------#}

        <script type="text/javascript">

                function setId(ids){
                    this.ids = ids;
                    var url = '{{ path("editQuestion", {'testId':test.id,'id':'QId'}) }}';
                    $(location).attr('href',url.replace("QId", ids));

                }

        </script>

        {#----------------------------------------ADD/CANCEL answer-----------------------------------------------#}

        <script type="text/javascript">

            $(document).ready(function () {
                var numAns = 0;
                {% if questionEdit is defined %}
                    numAns = {{ questionEdit.answers.count }}

//                      Тут тип надо что-то сделать чтоб в конец добавлялось, но я вообще не знаю как!
                            $('#add-ans-edit').click(function (){
                                $('#add-a-box-0').append(' <div class="fl-left add-a-box" id="add-a-box-'+numAns+'">'
                                        +'<label for="text-a-'+numAns+'">Ответ: <//label>'
                                        +'<input id="text-a-'+numAns+'" type="text" name="_answer['+numAns+'][content]" size="8" tabindex="2" spellcheck="true" required pattern="[а-яА-ЯёЁa-zA-Z0-9-/t]+">'
                                        +'<span class="spn0 spn0-'+numAns+'">'+' <label for="text-p-'+numAns+'">Баллы за ответ: <//label>'
                                        +'<input id="text-p-'+numAns+'" type="number" name="_answer['+numAns+'][rating]" size="1" tabindex="3" required min=0>'
                                        +'<//span>'
                                        +'<div id="cancel-a-'+numAns+'" onclick="giveId('+numAns+')" class="vert-align-m cnl cnl-'+numAns+'">'+'<//div>'
                                        +'<//div>');
                                numAns++;

                            });
                {% endif %}

                $('#add-ans').click(function (){
                    $('#add-content').append(' <div class="fl-left add-a-box" id="add-a-box-'+numAns+'">'
                        +'<label for="text-a-'+numAns+'">Ответ: <//label>'
                        +'<input id="text-a-'+numAns+'" type="text" name="_answer['+numAns+'][content]" size="8" tabindex="2" spellcheck="true" required pattern="[а-яА-ЯёЁa-zA-Z0-9-/t]+">'
                        +'<span class="spn0 spn0-'+numAns+'">'+' <label for="text-p-'+numAns+'">Баллы за ответ: <//label>'
                        +'<input id="text-p-'+numAns+'" type="number" name="_answer['+numAns+'][rating]" size="1" tabindex="3" required min=0>'
                            +'<//span>'
                            +'<div id="cancel-a-'+numAns+'" onclick="giveId('+numAns+')" class="vert-align-m cnl cnl-'+numAns+'">'+'<//div>'
                            +'<//div>');
                    numAns++;

                });
            });

            function giveId(ids){
                $('#add-a-box-'+ids).remove();     //I hate this line!!1111!1!!
            }
            function delAns(ids, ansId){
                $('#add-a-box-'+ids).remove();     //Try hate
                {% if questionEdit is defined %}
                var url = '{{ path("delAnswer", {'qId':questionEdit.id,'id':'Aid' }) }}';
                $(location).attr('href',url.replace("Aid", ansId));
                {% endif %}
            }

        </script>


        {#--------------------------------Start form_description_test(MODAL WINDOW)-----------------------------------------#}


        <form id="descriptionTestForm" action="{{ path('editTest', {'id': test.id}) }}" method="post" name="descriptionTestForm">

            <div class="modalDialogDes width-410">

                 <div class="al-center">
                     <label for="name-field-in-form-des" class="lab">Имя: </label>
                     <input type="text" id="name-field-in-form-des" name="_name" value="{{ test.name }}"  tabindex="1" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" required>
                 </div>

                 <div class="al-center">
                     <label for="description-field-in-des-form" class="lab">Описание: </label>
                     <textarea id="description-field-in-des-form" name="_description" tabindex="2" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" required>{{ test.description }}</textarea>
                 </div>


                 <div class="height-35">
                     <a href={{ path('testpage', {'id':test.id}) }}><div class="fl-left al-center blue-button" id="input">Назад</div></a>
                     <button type="submit" class="fl-right al-center red-button" id="create" tabindex="">Сохранить</button>
                 </div>


            </div>
        </form>

        <script type="text/javascript">

            $(document).ready(function () {

                $('#edit-des').click(function () {
                    $('#descriptionTestForm').show();
                });
            });

        </script>

{#----------------------------------------------EDIT DESCRIPTION RESULT----------------------------------------------------------------------------------#}

        <div class="dis-content marg-auto clearfix">
          {% for explanation in test.explanation %}
            {% if explanationEdit is defined and explanation.id == explanationEdit.id %}
                <div class="content-des-res">
                    <h3>Пояснение {{ loop.index }}</h3>

                    <form id="" autocomplete="off" action="{{ path("editExplanation", {'testId':test.id,'id':explanationEdit.id}) }}" method="post" name="AddDescriptionResult">

                        <div class="clearfix description-result-box description-result-box-{{ loop.index }}">

                            <div class="fl-left width-410 content-des-res">


                                <label for="description-res-form-{{ loop.index }}" class="disp-block">Описание: </label>
                                <textarea id="description-res-form-{{ loop.index }}" name="_description"   tabindex="1" spellcheck="true" pattern="[а-яА-ЯёЁa-zA-Z-\t]+" required >{{ explanationEdit.description }}</textarea>

                                <label for="minRating-{{ loop.index }}" class="">Минимальное количество баллов: </label>
                                <input type="number" id="minRating-{{ loop.index }}" value="{{ explanationEdit.minRating }}"  name="_minRating"  tabindex="2" size="2" pattern="[0-9]+"
                                       min="{{ minRating }}" max="{{ maxRating }}" required><br>

                                <label for="maxRating-{{ loop.index }}" class="">Максимальное количество баллов: </label>
                                <input type="number" id="maxRating-{{ loop.index }}" value="{{ explanationEdit.maxRating }}" name="_maxRating"  tabindex="3" size="2" pattern="[0-9]+"
                                       min="{{ minRating }}" max="{{ maxRating }}" required>

                            </div>

                            <div class="fl-right butblock">
                                <a href="{{ path('testpage',{'id':test.id})}}"><button type="button" class="fl-left al-center red-button" id="exit-on-desct-res" tabindex="">Отмена</button></a>
                                <button type="submit" class="fl-right al-center blue-button" id="save-desct-res" tabindex="">Сохранить</button>
                            </div>

                        </div>

                    </form>

                </div>

            {% else %}

                <div class="content-des-res">
                    <h3>Пояснение {{ loop.index }}</h3>
                    <p>{{ explanation.description }}</p>
                    <span class="disp-block al-center">
                        Минимальный рейтинг:  <b>{{ explanation.MinRating }}</b>
                        Максимальный рейтинг:  <b>{{ explanation.MaxRating }}</b>
                    </span>

                    <a class="del-img"  href={{ path('delExplanation', {'id':test.id, 'idExplanation': explanation.id}) }}></a>
                    <a class="edit-img" id="{{ explanation.id }}" onclick="setDesId({{explanation.id}})"></a>
                </div>

            {% endif %}
            {% endfor %}
        </div>

        {#----------/-------/--------/-------/--EDIT DESCRIPTION form-------/-----/--------------------/---------#}

        <script type="text/javascript">

            function setDesId(ids){
                this.ids = ids;
                var url = '{{ path("editExplanationForm", {'testId':test.id,'id':'EId'}) }}';
                $(location).attr('href',url.replace("EId", ids));

            }

        </script>

        {#----------------------------------DescriptionResultForm-------------------------------------------------#}
        {% set NumberDes = test.explanation|length %}
        <form id="AddDescriptionResult" autocomplete="off" action="{{ path('addExplanation', {'id': test.id}) }}" method="post" name="AddDescriptionResult">


            {% set NumberDes  = NumberDes + 1 %}
            <div class="clearfix description-result-box description-result-box-{{ NumberDes }}">

                 <div class="fl-left width-410 content-des-res">


                     <label for="description-res-form-{{ NumberDes }}" class="disp-block">Описание: </label>
                     <textarea id="description-res-form-{{ NumberDes }}" name="_description"   tabindex="1" spellcheck="true" required ></textarea>

                     <label for="minRating-{{ NumberDes }}" class="">Минимальное количество баллов: </label>
                     <input type="number" id="minRating-{{ NumberDes }}" name="_minRating"  tabindex="2" size="2" pattern="[0-9]+"
                            min="{{ minRating }}" max="{{ maxRating }}" required><br>

                     <label for="maxRating-{{ NumberDes }}" class="">Максимальное количество баллов: </label>
                     <input type="number" id="maxRating-{{ NumberDes }}" name="_maxRating"  tabindex="3" size="2" pattern="[0-9]+"
                            min="{{ minRating }}" max="{{ maxRating }}" required>

                 </div>

                 <div class="fl-right butblock">
                     <button type="button" class="fl-left al-center red-button" id="exit-on-desct-res" tabindex="">Отмена</button>
                     <button type="submit" class="fl-right al-center blue-button" id="save-desct-res" tabindex="">Сохранить</button>
                 </div>

            </div>

        </form>

        <button id="add-description" class="green-button" type="button" class="al-center" tabindex="">Добавить описание</button>


        <script type="text/javascript">
            $(document).ready(function () {
                $('document').append('#AddDescriptionResult');
                $('#AddDescriptionResult').hide();
                $('#add-description').click(function () {
                    $('#AddDescriptionResult').show();
                    var height = $('#AddDescriptionResult').outerHeight(true) + $('#add-description').outerHeight(true);
                    window.scrollBy(0,height);

                });

                $('#exit-on-desct-res').click(function () {
                    $('#AddDescriptionResult')[0].reset();
                    $('#AddDescriptionResult').hide();
                });
            });
        </script>
    {% endif %}


    </div>

    </body>
{% endblock %}