{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test_content.css') }}">
{% endblock %}

{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">
        <div id="lvl">
            <h3>{{ test.name }}</h3>
            <p>{{ test.description }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <span>
                    <a href={{ path('delTest', {'id':test.id}) }}>
                    <button id="del-d" class="red-button" type="button" class="al-center" tabindex="">Удалить</button>
                    </a>

                    <button id="edit-des" class="blue-button" type="button" class="al-center" tabindex="">Редактировать</button>
                    <button id="save-d" class="blue-button fl-right" type="button" class="al-center" tabindex="">Сохранить</button>
                </span>
            {% endif %}
        </div>


    <p class="mar-l-35">Вопросы</p>

        <form id="questionForm" action="{{ path('testCompete', {'id':test.id}) }}" method="post" name="questionForm">

        {% for question in test.questions %}
        <div class="quest-box quest-box-{{ loop.index }}">
            <div class="quest-number fl-left al-center vert-align-m"><p class="vert-align-m mar-pad-0 font-s-14">{{ loop.index }}</p></div>
            <ul class="question fl-right mar-pad-0">
                <h4>{{ question.content }}</h4>
                <p class="mar-pad-0">выберите один из вариантов:</p>
                <br>
                <div class="al-center">
                    {% for answer in question.answers %}
                    <li><label for="Q{{ answer.id }}">{% if not is_granted('ROLE_ADMIN') %}
                            <input type="radio" id="Q{{ answer.id }}" value="{{ answer.id }}" name="_answerArray[{{ answer.question.id }}]" required>{% endif %}
                            <span>{{ answer.content }}{% if is_granted('ROLE_ADMIN') %}[{{ answer.rating }}] {% endif %}</span>
                        </label>
                    </li>

                    {% endfor %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href={{ path('delQuestion',{'testId':test.id,'id':question.id}) }}>УДАЛИТЬ</a>
                    {% endif %}
                </div>
            </ul>
        </div>
            {% endfor %}

            {% if not is_granted('ROLE_ADMIN') %}
                <button type="submit" class="fl-right al-center" id="end">Завершить</button>
            {% endif %}
        </form>

        {#-------------------------------- start Add form_question ---------------------------------------#}

        {% set NumberQ = test.questions|length %}
        <form id="AddQuestionForm" action="{{ path('addQuestion', {'id':test.id}) }}" method="post" name="AddQuestionForm">

            {% set NumberQ  = NumberQ + 1 %}

            <div class="quest-box quest-box-{{ NumberQ }}">
                <div class="quest-number fl-left al-center vert-align-m"><p class="vert-align-m mar-pad-0 font-s-14">{{ NumberQ }}</p></div>
                <div class="question fl-right mar-pad-0 clear-fix">

                    <div class="fl-left width-410" id="add-content">

                        <label for="text-q-{{ NumberQ  }}">Текст вопроса: </label>
                        <textarea id="text-q-{{ NumberQ  }}" name="_description" tabindex="1"></textarea>

                        {#<div class="fl-left add-a-box">#}

                             {#<label for="text-a">Ответ: </label>#}
                             {#<input id="text-a" type="text" name="_answer[0][content]" size="8" tabindex="2" pattern="[a-zA-Z0-9_-\t]+">#}

                             {#<span class="spn0">#}
                                 {#<label for="text-p">Баллы за ответ: </label>#}
                                 {#<input id="text-p" type="text" name="_answer[0][rating]" size="2" tabindex="3" pattern="[0-9]+">#}
                             {#</span>#}
                             {#<div id="cancel-a" class="vert-align-m cnl"></div>#}
                       {#</div>#}

                    </div>

                    <div class="fl-right butblock">
                        <button id="cancel-q" class="red-button" type="button" tabindex="">Отмена</button>
                        <button id="add-ans" class="green-button" type="button" tabindex="">Добавить ответ</button>
                        <button id="save" class="blue-button" type="submit" tabindex="">Сохранить</button>
                    </div>


                </div>
            </div>
        </form>

    {% if is_granted('ROLE_ADMIN') %}
        <button id="add-q"  class="green-button" type="button" class="al-center" tabindex="">Добавить вопрос</button>
    {% endif %}

        {#----------------------------------------Start Add question-----------------------------------------------#}

        <script type="text/javascript">

            $(document).ready(function () {

                $('document').append('#AddQuestionForm');
                $('#AddQuestionForm').hide();
                $('#add-q').click(function () {
                    $('#AddQuestionForm').show();
                })
                $('#cancel-q').click(function () {
                    $('#AddQuestionForm').hide();
                });
            });

        </script>

        {#----------------------------------------Start Add/cancel answer-----------------------------------------------#}

        <script type="text/javascript">

            $(document).ready(function () {
                var numAns = 0;
                $('#add-ans').click(function (){
                    $('#add-content').append(' <div class="fl-left add-a-box add-a-box-'+numAns+'">'
                        +'<label for="text-a-'+numAns+'">Ответ: <//label>'
                        +'<input id="text-a-'+numAns+'" type="text" name="_answer['+numAns+'][content]" size="8" tabindex="2" pattern="[a-zA-Z0-9_-/t]+">'
                        +'<span class="spn0 spn0-'+numAns+'">'+' <label for="text-p-'+numAns+'">Баллы за ответ: <//label>'
                        +'<input id="text-p-'+numAns+'" type="text" name="_answer['+numAns+'][rating]" size="2" tabindex="3" pattern="[0-9]+">'
                            +'<//span>'
                            +'<div id="cancel-a" class="vert-align-m cnl cnl-'+numAns+'">'+'<//div>'
                            +'<//div>');

                    $('.cnl-'+numAns+'').bind('click', function(){
                        alert('Вы нажали на элемент-'+numAns+'');

                    });

                    numAns++;

                });
            });

        </script>

        {#--------------------------------Start form_description_test-----------------------------------------#}


        <form id="descriptionTestForm" action="{{ path('editTest', {'id': test.id}) }}" method="post" name="descriptionTestForm">

            <div class="modalDialogDes width-410">

                 <div class="al-center">
                     <label for="name-field-in-form-des" class="lab">Имя: </label>
                     <input type="text" id="name-field-in-form-des" name="_name" value={{ test.name }}  tabindex="1" required>
                 </div>

                 <div class="al-center">
                     <label for="description-field-in-des-form" class="lab">Описание: </label>
                     <textarea id="description-field-in-des-form" name="_description" tabindex="2" required>{{ test.description }}</textarea>
                 </div>


                 <div class="height-35">
                     <a href={{ path('testpage', {'id':test.id}) }}><div class="fl-left al-center blue-button" id="input">Назад</div></a>
                     <button type="submit" class="fl-right al-center red-button" id="create" tabindex="">Сохранить</button>
                 </div>


            </div>
        </form>

        <script type="text/javascript">

            $(document).ready(function () {

                $('#edit-des').click(function () {
                    $('#descriptionTestForm').show();
                });
            });

        </script>



        {% if is_granted('ROLE_ADMIN') %}
        <div class="content marg-auto clearfix">
            {% for explanation in test.explanation %}
            <div id="lvl">
                <h3>Пояснение {{ loop.index }}</h3>
                <p>{{ explanation.description }}</p>
                <p>Минимальный рейтинг:{{ explanation.MinRating }}</p>
                <p>Максимальный рейтинг:{{ explanation.MaxRating }}</p>
                <p><a href="{{ path('delExplanation', {'id':test.id, 'idExplanation': explanation.id}) }}">УДАЛИТЬ</a></p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {#----------------------------------------Start border_color----------------------------------#}

        <script type="text/javascript">

            $(document).ready(function () {

                $('input[type="radio"]').click(function (event) {
                    $('.question').css({'border':'1px solid #00FF00'}) &&
                    $('.quest-number').css({'background-color':'#00FF00', 'color': '#00FF00'});
                });
            });

        </script>

    {% if is_granted('ROLE_ADMIN') %}
        <div><a href={{ path('testEditForm',{ 'id':test.id} ) }}>+ ДОБАВИТЬ ОПИСАНИЕ РЕЗУЛЬТАТА</a></div>
    {% endif %}

        {% if answers is defined %}
            {% for answer in answers %}
                {{ answer }}
            {% endfor %}
        {% endif %}


    </div>

    </body>
{% endblock %}