{% extends '::base.html.twig' %}

{% block title %}{{ test.name }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/about_test_content.css') }}">
{% endblock %}
{% block body%}
    <body>

    {% include 'header.html.twig' %}

    <div class="content marg-auto clearfix">

        <div class="lvl lvl1">

            <div class="fl-left">
                <h3>{{ test.name }}</h3>
                <p>{{ test.description }}</p>
            </div>

            <div class="fl-right">
                Результат:<span class="font-size-60">{{ result.rating }}</span>
            </div>

        </div>

        {% if result.explanation is not empty %}
        <div class="lvl lvl2">
            <h3>Пояснения к результатам</h3>
            <p>{{ result.explanation.description }}</p>
        </div>
        {% endif %}

    </div>


    </body>
{% endblock %}